# Groq LLM Configuration
GROQ_API_KEY= YOUR_GROQ_API_KEY_HERE
GROQ_MODEL=llama-3.3-70b-versatile

# Pinecone Vector Database Configuration
PINECONE_API_KEY= YOUR_PINECONE_API_KEY_HERE
PINECONE_INDEX= YOUR_PINECONE_INDEX_NAME_HERE

# Cohere Embedding Model Configuration
COHERE_API_KEY= YOUR_COHERE_API_KEY_HERE

# Application Configuration
APP_NAME=Legal QA Server
VERSION=0.1.0
DEBUG=false
PORT=8002

# Logging
LOG_LEVEL=INFO